<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="iron2014.bansachonline">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/book"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activity.CartListActivity"></activity>
        <activity
            android:name=".LoginRegister.NewPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.DoiMatkhauActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChonMaKhuyenmaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AppChatActivity.HienthiTnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AppChatActivity.MainCHATActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.AudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.LoginWithSMSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.hoadon.ListAllCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmentVanChuyen.Activity.ChitietGiaoHangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.BookDetailLibActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MuahangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GetAllBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmentVanChuyen.Activity.ShipperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmentVanChuyen.Activity.ChitietVanChuyenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchBooksActivity"
            android:screenOrientation="portrait">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.hoadon.RatingBookCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GetBookByTheloaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.ViewBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.hoadon.Chitiethoadon_RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.hoadon.ChitiethoadonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TheloaiChitietActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:hardwareAccelerated="false"
            android:parentActivityName=".LoginRegister.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- deeplink -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="myhost"
                    android:pathPrefix="/login"
                    android:scheme="myapp" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver android:name=".Notif.HoadonReceiver" />
        <receiver android:name=".Service.MaGiamGia">
            <intent-filter>
                <action android:name="android.intent.action.CUSTOM_INTENT_BAI3" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/khuyenmai_x32" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- send all user -->
        <!-- single service -->
        <service android:name=".Service.FCM.MyFirebaseMessagingServiceSingle">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".BroadcastReceiver.SendToken">
            <intent-filter>
                <action android:name="test.Broadcast" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4271678036251490~7420544422" /> <!-- share fb api -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider982539198779504"
            android:exported="true" />
    </application>

</manifest>